body, html {
    width: 100%;
    height: 100%;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eeeeee;
}

#copyright-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

#copyright-links li {
    list-style-type: none;
    padding: 0 1em;
}

#copyright-links a {
    color: #505050;
    text-decoration: none;
}

#copyright-links a:hover {
    text-decoration: underline;
}

#copyright-paragraph-container {
    padding-top: 0.5em;
    margin-bottom: 5em;
}

#copyright-paragraph-container p {
    padding: 0.1em 0;
    margin: 0;
    text-align: center;
}

#footer-container {
    font-size: 12px;
    color: #505050;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intuit-logo {
    max-width: 100%;
    max-height: 35px;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 0 auto;
    text-align: center;
}

#privacy-settings-container {
    background-color: #fff;
    width: 100%;
    height: 4em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    font-size: 14px;
}

#privacy-settings-container a {
    color: #0077C5;
    text-decoration: none;
    padding-left: 1.5em;
}

#sign-in-floater-button {
    color: #fff;
    background-color: #0077C5;
    padding: 7px 22px;
    border: 1px solid #04578f;
    border-radius: 5px;
    margin-right: 3em;
    display: flex;
}

.lock {
    padding-right: 0.5em;
    font-size: 1.5em !important;
}

#sign-in-floater-container {
    display: flex;
    justify-content: flex-end;
}

#sign-in-floater-recovery {
    padding-right: 1em;
}

#sign-in-floater-recovery p {
    padding: 2px 0;
    margin: 0;
    color: #505050;
    font-size: 12px;
}

#sign-in-floater-recovery a {
    text-decoration: none;
    color: #0077C5;
}

#sign-in-floater-recovery a:hover {
    text-decoration: underline;
}

#sign-in-floater-recovery-p-display {
    text-align: center;
}

.signup-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    color: #404040;
}

.signup-box label {
    margin-top: 2em;
}

.signup-box input {
    width: 100%;
    height: 30px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin-top: 0.8em;
}

.signup-box p {
    font-size: 10px;
    margin: 0.7em 0;
    color: #444444;
}

#signup-form {
    width: 85%;
    text-align: center;
    margin: auto;
}

#signup-header-description {
    font-size: 14px;
}

#signup-header-description p {
    padding: 0;
    margin: 0;
}

#signup-header-description a {
    text-decoration: none;
    color: #0077C5;
}

#signup-header-description a:hover {
    text-decoration: underline;
}

#signup-header-title {
    font-weight: 400;
    font-size: 24px;
    padding-top: 0.5em;
}

#signup-main-container {
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 1.5em;
    color: #393A3D;
}

#signup-recaptcha {
    background-color: #ECEEF1;
    margin: 0;
    padding: 2em 0 1.7em 0;
    font-size: 10px;
    color: #757575
}

#signup-recaptcha a {
    text-decoration: none;
    color: #0077C5;
}

#signup-recaptcha a:hover {
    text-decoration: underline;
}

#signup-recaptcha p {
    margin: 0;
    padding: 0;
}

#signup-submit-button {
    margin-top: 2em;
}

#signup-submit-button button {
    background-color: #0077C5;
    color: white;
    border: 1px solid #04578f;
    border-radius: 4px;
    width: 102%;
    padding: 12px 0;
    font-size: 15.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-terms {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    width: 85%;
    font-style: italic;
    color: #757575;
    line-height: 1.5;
    padding: 0.9em 0 1.5em 0;
}

#signup-terms a {
    color: #0077C5;
    text-decoration: none;
}

#signup-terms a:hover {
    text-decoration: underline;
}

#signup-title-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#signup-title-links li {
    list-style-type: none;
    padding: 0;
    margin: 0 0.3em;
}

#signup-title-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #868686;
}

#signup-title-links li img {
    max-width: 23px;
    max-height: 23px;
    border-radius: 75px;
    margin-right: 0.2em;
}

#signup-title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

#signup-title-nav {
    height: 23px;
}
